.slick-dots-bottom {
   margin: 0 !important;
   padding: 0 !important;
}

.slick-dots li.slick-active button::before {
   opacity: 0 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .banner {
      height: 250px;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .banner {
      height: 250px;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .banner {
      height: 400px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .banner {
      height: 600px;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .banner {
      height: 600px;
   }
}